<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Посмотреть гараж</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Name: ' + ${name}" />
    <p th:text="${count}" />

    <table border="1">
        <tr>
            <th>MARK</th>
            <th>MODEL</th>
            <th>NUMBER</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.model.mark.markCode}"/>
            <td th:text="${car.model.modelCode}"/>
            <td th:text="${car.number}"/>
        </tr>
    </table>

    <br>

    <form action="#" data-th-action="@{/add-car}" data-th-object="${model}" method="get">
        <button type="submit">Добавить машину</button>
    </form>

    <form action="#" data-th-action="@{/remove-car}" data-th-object="${model}" method="get">
        <button type="submit">Удалить машину</button>
    </form>

    <form action="#" data-th-action="@{/garage}" method="post">
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>